@media screen and (min-width: 810px) and (max-width: 1199px) {
    header{
        min-height: unset;
        padding: 50px;
    }

    /* .text{
        padding: 80px 40px;
    } */

    .text {
        padding: 0 106px 0;
    }

    .grid{grid-template-columns: repeat(2, minmax(200px, 1fr));}
}

@media screen and (max-width: 809px) {
    header{
        justify-content: center;
        min-height: unset;
        padding: 20px;
        margin-bottom: 0px;
    }
    

    .text{padding: 60px 20px;}
   

    .gallery {padding: 20px;}

    .grid {grid-template-columns: repeat(1, minmax(200px, 1fr));}

    .grid img {
        border-radius: 20px;
        height: 350px;
    }
}